/* general alterations */

.bg-saver {
  background-color: #536372;
}

.rale {
  font-family: Raleway, sans-serif;
}

.rob {
  font-family: Roboto, sans-serif;
}

.btn-ghost:hover {
  background-color: #fff;
  color: #15202b;
  border-color: #fff;
}

/* header content */

header {
  background-color: #15202b;
}

.logo i {
  border-right: 2px solid #fff;
}

.logo a {
  color: #fff;
  text-decoration: none;
}

.logo .logo-wordmark {
  opacity: 1;
  transition: all .5s ease-in;
}

.logo .logo-home {
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  opacity: 0;
  -o-transition: all .3s ease-in;
  transition: all .3s ease-in;
  -webkit-transition: all .3s ease-in;
  -webkit-clip-path: inset(0 85px 0 54px);
  clip-path: inset(0 85px 0 54px);
}

.logo:hover > .logo-home {
  opacity: 1;
}

.logo .mask {
  position: absolute;
  left: 55px;
  top: 50%;
  transform: translateY(-50%);
}

.logo:hover .logo-wordmark {
  opacity: 0;
  transition: all .3s ease-out;
}

.logo:hover .logo-home {
  position: absolute;
  left: 55px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  opacity: 1;
  -webkit-clip-path: inset(0 0 0 0);
  clip-path: inset(0 0 0 0);
  -webkit-transition: all .5s ease-out;
  -o-transition: all .5s ease-out;
  transition: all .5s ease-out;
}

h1,
h3,
.logo,
.footer-list p,
.banner-content,
small,
.logo-text {
  color: #fff;
}

.mob-nav {
  position: absolute;
  top: 69px;
  left: -250px;
  width: 15em;
  display: block;
  background-color: #15202b;
  opacity: 0;
  transition: all 500ms ease-in-out;
}

.mob-nav li {
  border-top: 1px solid #fff;
}

.mob-nav a {
  color: #fff;
  background-color: transparent;
  border-color: transparent;
}

.mob-nav li:hover {
  cursor: pointer;
  background-color: #fff;
}

.mob-nav li:last-child:hover {
  background-color: #ff704d;
}

.mob-nav li:last-child:hover a {
  color: #0a0f15;
  border-color: #0a0f15;
  background-color: #ff704d;
}

.mob-nav li:hover a {
  color: #0a0f15;
  background-color: #fff;
  border-color: #fff;
}

.banner-content a,
.mob-nav li:last-child a {
  color: #fff;
  border: 3px solid #fff;
}

.mob-nav li:last-child a:hover {
  color: #0a0f15;
  background-color: #ff704d;
  border: 3px solid #0a0f15;
}

.mob-nav li:last-child a:focus {
  color: #000;
  background-color: #ff704d;
  border: 3px solid #0a0f15;
}

.mob-nav li .btn:not(.donate) {
  display: block;
}

header [type="checkbox"] + label::before {
  top: -10em;
}

footer .return,
.nav-label .nav-icon {
  fill: #fff;
}

footer .return:hover,
.nav-check:checked ~ .nav-label .nav-icon {
  fill: #ff704d;
}

.nav-check:checked ~ .mob-nav {
  left: 0;
  opacity: 1;
  transition: all 500ms ease-in-out;
}

/* header content ends */

/* index css starts */

.banner-home {
  background-image: linear-gradient(to top, rgba(0, 0, 0, .6), rgba(0, 0, 0, 0)), url("../images/home-banner.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
}

.menu-card {
  text-decoration: none;
  color: #fff;
}

.menu-info h2,
.menu-info p {
  filter: drop-shadow(0 0 10px rgba(0, 0, 0, .9));
}

.menu-info p {
  border: 3px solid #fff;
  padding: .42em .75em;
  border-radius: 6px;
}

.cards:hover img {
  transition: all .5s linear;
  transform: scale(1.1);
  filter: blur(1px);
}

.cards:hover .menu-info h2 {
  transform: scale(1.2);
  transition: all .5s linear;
}

.cards:hover .menu-info p {
  background-color: rgba(0, 0, 0, .2);
  transition: all .2s linear;
}

.about {
  background-color: #fff;
}

.cards a:focus .menu-info p {
  outline: 3px solid #000;
}

.cards {
  margin: -.3px;
}

/* index css ends */

/* rescues css starts */

.banner-rescues {
  background-image: linear-gradient(to top, rgba(0, 0, 0, .6), rgba(0, 0, 0, 0)), url("../images/rescues-banner.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
}

.rescues {
  background-color: #dbdbdb;
}

.res-card {
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 .1em .4em rgba(0, 0, 0, .5);
  background-color: #fff;
}

.res-content {
  background-color: #fff;
}

.action-btn {
  background-color: transparent;
  border: 0;
  border-radius: 50%;
  padding: .3em;
  color: #555;
}

.res-card .btn:hover {
  color: #fff;
  border-color: #15202b;
  background-color: #15202b;
}

.action-btn:hover {
  background-color: #e2e2e2;
  color: #555;
}

.res-tools-top .action-btn {
  background-color: rgba(0, 0, 0, .2);
  color: #fff;
}

.res-tools-top .action-btn:hover {
  background-color: #fff;
  filter: none;
  box-shadow: 0 .1em .3em #000;
  color: #555;
}

/* rescues css ends */

/* adopt css starts */

.banner-adopt {
  background-image: linear-gradient(to top, rgba(0, 0, 0, .6), rgba(0, 0, 0, 0)), url("../images/adopt-banner.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
}

.sec-head {
  border-top: 2px solid #15202b;
  border-bottom: 2px solid #15202b;
}

form {
  border: 2px solid #999;
  border-radius: 8px;
  box-shadow: 0 .1em .4em rgba(0, 0, 0, .5);
}

form input,
form textarea,
form select,
form [type="checkbox"] + label::before {
  border-radius: 6px;
}

fieldset {
  border: none;
}

.form-btn button {
  color: #15202b;
  border-color: #15202b;
  background-color: transparent;
}

.form-btn button:hover {
  color: #fff;
  border-color: #15202b;
  background-color: #15202b;
}

/* adopt css ends */

/* footer content */

footer {
  background-color: #15202b;
  text-decoration: none;
}

footer li a {
  color: #fff;
  padding: .42em 0;
  text-decoration: none;
}

.current a,
.footer-list li:hover a,
.footer-list li:hover p {
  color: #ff704d;
}

@media only screen and (min-width: 38em) {

  header [type="checkbox"] + label,
  .nav-check:checked ~ .mob-nav {
    display: none;
  }

  .masthead .nav-check:checked ~ .mob-nav {
    display: block;
  }

  .mob-nav {
    opacity: 1;
    position: static;
    width: 100%;
    display: inline-block;
    background-color: transparent;
  }

  .mob-nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
  }

  .mob-nav ul li {
    border-top: none;
    display: inline-block;
  }

  .mob-nav li:hover {
    cursor: pointer;
    background-color: transparent;
  }

  .mob-nav li:last-child:hover {
    background-color: transparent;
  }

  nav .footer-list {
    border-right: 2px solid #536372;
  }

  nav:nth-child(2) .footer-list,
  nav:last-child .footer-list {
    border: none;
  }

}

@media only screen and (min-width: 60em) {

  .mob-nav {
    position: static;
    width: 75%;
    display: inline-block;
    background-color: transparent;
  }

  nav:nth-child(2) .footer-list {
    border-right: 2px solid #536372;
  }

  nav:last-child .footer-list {
    border: none;
  }

}
