.bg-saver {
  background-color: #536372;
}

.rale {
  font-family: Raleway, sans-serif;
}

.rob {
  font-family: Roboto, sans-serif;
}

header {
  background-color: #15202b;
}

.logo {
  border-right: 2px solid #fff;
}

h1,
h4,
.footer-list p,
.banner-content,
small {
  color: #fff;
}

.mob-nav {
  position: absolute;
  top: 89px;
  right: 0px;
  width: 15em;
  display: none;
  background-color: #15202b;
}

.mob-nav li {
  border-top: 1px solid #fff;
}

.nav a,
.mob-nav a {
  color: #fff;
  background-color: transparent;
  border: none;
}

.mob-nav li:hover {
  cursor: pointer;
  background-color: #fff;
}

.mob-nav li:last-child:hover {
  background-color: #ff704d;
}

.mob-nav li:last-child:hover a {
  color: #0a0f15;
  border-color: #0a0f15;
  background-color: #ff704d;
}

.nav a:hover,
.mob-nav li:hover a {
  color: #0a0f15;
  background-color: #fff;
}

.nav li:last-child a,
.mob-nav li:last-child a {
  color: #fff;
  border: 3px solid #fff;
}

.nav li:last-child a:hover,
.mob-nav li:last-child a:hover {
  color: #0a0f15;
  background-color: #ff704d;
  border: 3px solid #0a0f15;
}

header [type="checkbox"] + label::before {
  top: -10em;
}

.nav-label .nav-icon {
  fill: #fff;
}

.nav-check:checked ~ .nav-label .nav-icon {
  fill: #ff704d;
}

.nav-check:checked ~ .mob-nav {
  position: absolute;
  top: 89px;
  background-color: #15202b;
  display: block;
  animation: slide 200ms ease-out forwards;
}

.current a,
.current .btn {
  color: #ff704d;
}

/* header navigation ends */

.banner {
  background-image: linear-gradient(to top, rgba(0, 0, 0, .6), rgba(0, 0, 0, 0)), url("../images/home-banner.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
}

/* banner ends */

.menu-card {
  text-decoration: none;
  color: #fff;
}

.menu-info h3,
.menu-info p {
  filter: drop-shadow(0 0 10px rgba(0, 0, 0, .9));
}

.menu-info p {
  border: 3px solid #fff;
  padding: .42em .75em;
  border-radius: 6px;
}

.cards:hover img {
  transition: all .5s linear;
  transform: scale(1.1);
  filter: blur(1px);
}

.cards:hover .menu-info h3 {
  transform: scale(1.2);
  transition: all .5s linear;
}

.cards:hover .menu-info p {
  background-color: rgba(0, 0, 0, .2);
  transition: all .2s linear;
}

.about {
  background-color: #fff;
}

footer {
  background-color: #15202b;
  text-decoration: none;
}

footer li a {
  color: #fff;
  padding: .42em 0;
  text-decoration: none;
}

.footer-list li:hover a,
.footer-list li:hover p {
  color: #ff704d;
}

footer .return {
  fill: #fff;
}

footer .return:hover {
  fill: #ff704d;
}

@media only screen and (min-width: 38em) {

  header [type="checkbox"] + label,
  .nav-check:checked ~ .mob-nav {
    display: none;
  }

  .masthead .nav-check:checked ~ .mob-nav {
    display: none;
  }

  nav .footer-list {
    border-right: 2px solid #536372;
  }

  nav:nth-child(2) .footer-list,
  nav:last-child .footer-list {
    border: none;
  }

}

@media only screen and (min-width: 60em) {

  nav:nth-child(2) .footer-list {
    border-right: 2px solid #536372;
  }

  nav:last-child .footer-list {
    border: none;
  }

}

@keyframes slide {

  0% {
    right: -250px;
  }

  100% {
    right: 0px;
  }

}
